*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Titulo{
    text-align: center;
    background-color: rgb(210, 183, 175);
}

.texto{
    font-size: large;
}

.contenedor{
    position: relative;
    margin: 1%;
    padding: 1%;
}


footer {
    top: 0cqmax;
    position: relative;
    top: auto;
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }